# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/


Project1.vcxproj
Project1.vcxproj.filters

Figure.cpp
Figure.h
Fruit.cpp
Fruit.h
GameObject.cpp
GameObject.h
HorisontLine.cpp
HorisontLine.h
OOP Snake.cpp
OOP Snake.vcxproj
OOP Snake.vcxproj.filters
OOP Snake.vcxproj.user
Snake.cpp
Snake.h
SnakeBoard.cpp
SnakeBoard.h
VerticalLine.cpp
VerticalLine.h
stdafx.cpp
stdafx.h
targetve